body {
  font-size: 16px;
  color: #505050;
  font-family: 'Montserrat', sans-serif;
}

/** HEADER **/
#header-nav {
	background-color: #f4b41a;
	border-radius: 0;
	border: 0;

}

.navbar-brand p{
	font-size: 2em;
	color: #505050;

}

.navbar-brand a:focus, .navbar-brand a:hover {
	text-decoration: none;
}

#nav-list {
	margin-top: 10px;
}
#nav-list a {
	color: #f4b41a;
	text-align: center;
}
#nav-list a:hover {
	background: #8243d6;
}

/* Section */
#home {
	margin-bottom: 30px;

}

.row {
	position: relative;
	float: left;
	display: flex;
	align-self: flex-end;
}

.row > div > article {
	border:3px solid black;
	background-color: #C0C0C0;
	text-align: justify;
	margin-bottom: 20px;
	padding: 12px;
	color: black;
}
/* End Section */








@media (max-width: 767px) {
	.row > div > article {
		width: 80%;
		margin: 20px auto 0;
	}
	nav ul li{
		text-align: center;
		border-bottom: 1px solid black;
	}
}